<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>GoHireNow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;background-color: #f8f8f8">
        <table align="center" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="text-align:center;padding-top: 51px; padding-bottom: 71px;">
                    <img src="https://i.ibb.co/GcfKwgT/loho.png" alt="" style="height:46px;">
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" width="90%"  bgcolor="#fff">
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    text-align:center;
                    padding-top: 80px;
                    padding-bottom: 40px;
                    padding-left: 58px;
                    padding-right: 60px;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 38px;">
                    Welcome on GoHireNow
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    We publish blogs every week to help you grow your company with remote employees.
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    padding-top: 10px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    We strive for quality over quantity!
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    padding-top: 45px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    To help you get started, here are some of our best blogs:
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #29aae2;
                    padding-top: 10px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    <a style="
                        color: #29aae2;
                        font-family: 'Myriad Pro',sans-serif;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 38px;
                        text-decoration: none" href="https://dev.gohirenow.com">
                        How to find good candidates
                    </a>
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    padding-top: 10px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    <a style="
                        color: #29aae2;
                        cursor: pointer;
                        font-family: 'Myriad Pro',sans-serif;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 38px;
                        text-decoration: none" href="https://dev.gohirenow.com">
                        How to manage my employees
                    </a>
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #29aae2;
                    padding-top: 10px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    <a style="
                        color: #29aae2;
                        cursor: pointer;
                        font-family: 'Myriad Pro',sans-serif;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 38px;
                        text-decoration: none" href="https://dev.gohirenow.com">
                        How to pay my employees
                    </a>
                </td>
            </tr>
            <tr style="text-align:center">
                <td width="30%" style="
                    color: #333333;
                    padding-top: 55px;
                    padding-bottom: 50px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    If you have any question, don't hesitate to write me.
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" width="90%">
            <tr style="text-align:center">
                <td width="315px"></td>
                <td width="470px" style="
                    max-width: 30%;
                    color: #333333;
                    border-top: 1px solid darkgray;
                    padding-top: 50px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    Julia S.
                </td>
                <td width="297px"></td>
            </tr>
            <tr style="text-align:center">
                <td></td>
                <td style="
                    color: #333333;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 30px;">
                    Account manager
                </td>
                <td></td>
            </tr>
            <tr style="text-align:center">
                <td></td>
                <td style="
                    color: #ed7b18;
                    padding-bottom: 28px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    julia@gohirenow&#173;.com
                </td>
                <td></td>
            </tr>
            <tr style="text-align:center">
                <td></td>
                <td style="
                    color: #333333;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 700;
                    line-height: 38px;">
                    GoHireNow
                </td>
                <td></td>
            </tr>
            <tr style="text-align:center">
                <td></td>
                <td style="
                    color: #333333;
                    padding-bottom: 60px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    Save & Change Lives
                </td>
                <td></td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="
                    color: #333333;
                    padding-top: 55px;
                    padding-bottom: 24px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    Follow us
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="">
                    <a style="text-decoration: none" href="https://www.facebook.com/gohirenowcom" target="_blank">
                        <img alt="Facebook" style="width: 69px; height: 68px; padding-right: 15px" src="https://i.ibb.co/qjTCJvP/fb-1.png">
                    </a>
                </td>
                <td style="">
                    <a style="text-decoration: none" href="https://twitter.com/GoHireNow" target="_blank">
                        <img alt="Twitter" style="width: 71px; height: 70px; padding-right: 15px" src="https://i.ibb.co/DrK4zyr/twitter-1.png">
                    </a>
                </td>
                <td style="">
                    <a style="text-decoration: none" href="https://www.instagram.com/gohirenow/" target="_blank">
                        <img alt="Instagram" style="width: 69px; height: 69px" src="https://i.ibb.co/5j0P2t1/insta-1.png">
                    </a>
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="
                    padding-top: 23px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;">
                    <a style="
                        height: 16px;
                        color: #448ccb;
                        font-family: 'Myriad Pro',sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 38px;
                        text-decoration: none" href="https://dev.gohirenow.com">
                        Unsubscribe
                    </a>
                </td>
            </tr>
            <tr>
                <td style="
                    color: #333333;
                    padding-top: 28px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    You received this email because you signed up for GoHireNow.
                </td>
            </tr>
            <tr>
                <td style="
                    color: #333333;
                    padding-top: 8px;
                    padding-bottom: 88px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    Copyright © 2020 GoHireNow. All Rights Reserved.
                </td>
            </tr>
        </table>
    </body>
</html>