<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Payment receipt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0;background-color: #f8f8f8">
        <table align="center" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="text-align:center;padding-top: 51px; padding-bottom: 71px;">
                    <img src="https://i.ibb.co/GcfKwgT/loho.png" alt="" style="height:46px;">
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" width="90%"  bgcolor="#fff">
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    text-align:center;
                    padding-top: 65px;
                    padding-bottom: 40px;
                    padding-left: 58px;
                    padding-right: 60px;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 38px;">
                    Payment receipt
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    padding-top: 5px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    We thank for your trust, your account is now upgraded to:
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #29aae2;
                    text-align:center;
                    padding-top: 10px;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    <a style="
                        color: #29aae2;
                        cursor: pointer;
                        font-family: 'Myriad Pro',sans-serif;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 38px;
                        text-decoration: none" href="https://dev.gohirenow.com">
                        Business plan
                    </a>
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    padding-top: 10px;
                    padding-bottom: 40px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    Here is your receipt:
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" width="90%"  bgcolor="#fff">
            <td width="15%" style="border: none"></td>
            <td style="
                    border: 1px solid #DCDCDC;
                    color: #333333;
                    text-align:center;
                    padding-top: 25px;
                    padding-bottom: 30px;
                    padding-left: 58px;
                    padding-right: 60px;
                    font-family: 'Myriad Pro', Myriad, 'Liberation Sans', 'Nimbus Sans L', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 38px;">
                GoHireNow
            </td>
            <td width="15%" style="border: none"></td>
        </table>
        <table align="center" cellpadding="0" cellspacing="0" width="90%"  bgcolor="#fff">
            <tr>
                <td width="15%" style="border: none"></td>
                <td style="
                    text-align: start;
                    font-family: Lato, sans-serif;
                    font-size: 20px;
                    padding-left: 80px;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    border: 1px solid #DCDCDC;
                    border-top: none;
                    border-right: none"
                >
                    <p style="color: #333333;font-family: 'Myriad Pro',sans-serif;font-size: 18px;padding-bottom: 10px">Invoice number: </p>
                    <p style="font-family: 'Myriad Pro',sans-serif;padding-bottom: 10px;font-size: 18px;">Date: </p>
                    <p style="font-family: 'Myriad Pro',sans-serif;font-size: 18px">Company name: </p>
                </td>
                <td style="
                    text-align: end;
                    font-family: Lato, sans-serif;
                    font-size: 20px;
                    padding-right: 80px;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    border: 1px solid #DCDCDC;
                    border-left: none;
                    border-top: none"
                >
                    <p style="color: #29aae2;font-family: 'Myriad Pro',sans-serif;font-size: 18px;padding-bottom: 10px; font-weight: 700">098546</p>
                    <p style="color: #29aae2;font-family: 'Myriad Pro',sans-serif;padding-bottom: 10px;font-size: 18px; font-weight: 700">02-21-19</p>
                    <p style="color: #29aae2;font-family: 'Myriad Pro',sans-serif;font-size: 18px; font-weight: 700">Media23</p>
                </td>
                <td width="15%" style="border: none"></td>
            </tr>
            <tr>
                <td width="15%" style="border: none"></td>
                <td style="
                    text-align: start;
                    font-family: Lato, sans-serif;
                    font-size: 20px;
                    padding-left: 80px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border: 1px solid #DCDCDC;
                    border-top: none;
                    border-right: none"
                >
                    <p style="color: #333333;font-family: 'Myriad Pro',sans-serif;font-size: 18px;padding-bottom: 10px">Plan name: </p>
                    <p style="font-family: 'Myriad Pro',sans-serif;font-size: 18px">Amount: </p>
                </td>
                <td style="
                    text-align: end;
                    font-family: Lato, sans-serif;
                    font-size: 20px;
                    padding-right: 80px;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    border: 1px solid #DCDCDC;
                    border-left: none;
                    border-top: none"
                >
                    <p style="color: #ed7b18;;font-family: 'Myriad Pro',sans-serif;font-size: 18px;padding-bottom: 10px; font-weight: 700">Business plan</p>
                    <p style="color: #ed7b18;;font-family: 'Myriad Pro',sans-serif;font-size: 18px; font-weight: 700">$19.99</p>
                </td>
                <td width="15%" style="border: none"></td>
            </tr>
        </table>
        <table style="border-collapse: collapse;" align="center" cellpadding="0" cellspacing="0" width="90%"  bgcolor="#fff">
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    padding-top: 45px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    This information can be found under billing account
                </td>
            </tr>
            <tr style="text-align:center">
                <td style="
                    color: #333333;
                    padding-top: 10px;
                    padding-bottom: 40px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    Thank you!
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="
                    color: #333333;
                    padding-top: 85px;
                    padding-bottom: 24px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 38px;">
                    Follow us
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="">
                    <a style="text-decoration: none" href="https://www.facebook.com/gohirenowcom" target="_blank">
                        <img alt="Facebook" style="width: 69px; height: 68px; padding-right: 15px" src="https://i.ibb.co/qjTCJvP/fb-1.png">
                    </a>
                </td>
                <td style="">
                    <a style="text-decoration: none" href="https://twitter.com/GoHireNow" target="_blank">
                        <img alt="Twitter" style="width: 71px; height: 70px; padding-right: 15px" src="https://i.ibb.co/DrK4zyr/twitter-1.png">
                    </a>
                </td>
                <td style="">
                    <a style="text-decoration: none" href="https://www.instagram.com/gohirenow/" target="_blank">
                        <img alt="Instagram" style="width: 69px; height: 69px" src="https://i.ibb.co/5j0P2t1/insta-1.png">
                    </a>
                </td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="
                    padding-top: 23px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;">
                    <a style="
                        height: 16px;
                        color: #448ccb;
                        font-family: 'Myriad Pro',sans-serif;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 38px;
                        text-decoration: none" href="https://dev.gohirenow.com">
                        Unsubscribe
                    </a>
                </td>
            </tr>
            <tr>
                <td style="
                    color: #333333;
                    padding-top: 28px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    You received this email because you signed up for GoHireNow.
                </td>
            </tr>
            <tr>
                <td style="
                    color: #333333;
                    padding-top: 8px;
                    padding-bottom: 88px;
                    text-align:center;
                    font-family: 'Myriad Pro',sans-serif;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 38px;">
                    Copyright © 2020 GoHireNow. All Rights Reserved.
                </td>
            </tr>
        </table>
    </body>
</html>